<div class="container">
    <app-alert [message]='errorMessage' *ngIf="errorFlag" (close)="errorFlag = !errorFlag" ></app-alert>
</div>

<div class="container">
    <h1> Multiple Section Updated</h1>
    <div class="row">
        <div *ngIf="selectedRanges.length >0">
            <h5>Selected Ranges</h5>
            <ul >  
                <li class="listitem" *ngFor="let selectedRange of selectedRanges">{{selectedRange}}</li>
            </ul>
        </div>
        <hr>
        <div class="col-xs-12">
            <button class="btn btn-outline-primary" (click)="LoadRanges()">Range Load</button>
            <button class="btn btn-success" *ngIf="selectedRanges.length > 1" (click)="multipy()">Multiply</button>
            <button class="btn btn-warning" (click)="reset()">Reset</button>
        </div>
    </div>
</div>